.table {
    padding: 24px 0 0;
    width: 100%;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 24px;
    }

    table {
        width: 100%;
    }

    & tr {
        vertical-align: top;
    }

    & td,
    & th {
        white-space: nowrap;
        text-align: right;
        padding: 9px 18px;
        flex-basis: 110px;
    }

    & td a {
        color: rgb(107, 119, 140);
        text-decoration: none;
    }

    & td:first-child,
    & th:first-child {
        width: 100%;
        text-align: left;
    }
}