.summary {
    &__resource-type {
        border-radius: 3px;
        padding: 3px 5px;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        background: #ddd;

        display: inline-block;
        
        &_regular {
            background: #4d86db;            
        }

        &_pure {
            background: #4da64d;
        }

        &_provider {
            background: #c4c4c4;
        }

        &_broken {
            background: #ff4d4d;
        }
    }

    &__info {
        margin: 12px 0 34px;

        ul {
            margin: 0;
            padding: 0;
        }
    
        & li {
            margin: 0 0 8px;
            list-style: none;
        }
    }
}