.properties-table {
    padding: 24px 0;

    &__row {
        display: flex;
        flex-wrap: nowrap;
        padding: 0.4em 0px;
    }

    &__name {
        color: rgb(107, 119, 140);
        flex-basis: 100%;
        text-align: left;

        & a {
            color: rgb(107, 119, 140);
            text-decoration: none;
        }
    }

    &__cell {
        padding: 0 12px;
        flex-basis: 110px;
        text-align: right;

        &:last-child {
            padding-right: 0;
        }
    }
}